<script setup>
import moment from "moment";
import { reactive, ref } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import {
    Inertia
} from "@inertiajs/inertia";
const props = defineProps({
    subtask: Object,
    getchart: Object,
    ownlink: Object,
});
</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
                <h2 class="font-semibold text-xl text-gray-800 leading-tight">Excel Links Input</h2>
            </template>
            <div class="py-12">
                <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                    <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <div class="p-2">
                            <div class="text-xl">Social Media</div>
                            <select data-te-select-init v-model="sosmed" class="w-full rounded border-1">
                                <option value="0">--Pilih Sosmed--</option>
                                <option value="Facebook">Facebook</option>
                                <option value="Twitter">Twitter</option>
                                <option value="Instagram">Instagram</option>
                                <option value="Tiktok">Tiktok</option>
                                <option value="Snackvideo">Snackvideo</option>
                                <option value="Youtube">Youtube</option>
                            </select>
                            <input type="text" placeholder="Nama Akun" v-model="akun"
                                class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                            <div class="mt-5 text-lg font-bold">Links</div>
                            <textarea id="" name="links" v-model="links"
                                class="w-full mt-2 rounded border-1 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100"
                                rows="5"></textarea>
                            <template v-if="!loadingSave">
                            <input type="button" @click="submitPostingan(subtask.id)" value="Simpan"
                                class="bg-blue-500 p-2 rounded text-white w-full">
                            </template><template v-else>Loadingg... mohon ditunggu</template>
                        </div>
                        <div class="p-2">
                            <div class="shadow-lg rounded-lg overflow-hidden">
                                <div class="py-3 px-5 bg-gray-50">Report Pengguna</div>
                                <div class="flex flex-wrap justify-center space-x-2">
                                    <template v-for="data in getchart" :key="data.id">
                                        <div class="text-center p-2 shadow-lg rounded-lg">



                                            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp"
                                                class="rounded-full w-16 mb-4 mx-auto" alt="Avatar" />



                                            <h5 class="text-xl font-medium leading-tight mb-2">{{ data.name }}</h5>



                                            <p class="text-gray-500 text-2xl">{{ data.user_count }}</p>



                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <!-- <a :href="generate" target="_blank" class="bg-pink-500 p-2 mt-10 rounded text-white w-full">Generate and Download</a> -->
                            <button @click="downloadfile" class="bg-pink-500 p-2 mt-10 rounded text-white w-full">Download FIle Test</button>
                        </div>
                        <div class="p-2">
                            <div class="flex flex-col">
                                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                                    <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                                        <div class="overflow-hidden">
                                            <table class="min-w-full text-left text-sm font-light">
                                                <thead class="border-b font-medium dark:border-neutral-500">
                                                    <tr>
                                                        <th scope="col" class="px-4 py-4">Sosmed</th>
                                                        <th scope="col" class="px-4 py-4">Akun</th>
                                                        <th scope="col" class="px-6 py-4">Link</th>
                                                        <th scope="col" class="px-6 py-4">Hapus</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <template v-for="data in ownlink" :key="data.id">
                                                        <tr class="border-b dark:border-neutral-500">







                                                            <td class="whitespace-nowrap px-4 py-4 font-medium">{{
                                                                data.sosialmedia }}</td>







                                                            <td class="whitespace-nowrap px-4 py-4">{{ data.account }}</td>







                                                            <td class="whitespace-nowrap px-6 py-4"><a :href="data.link"
                                                                    target="_blank">{{ data.link.substring(0, 60) + " ..." }}</a>
                                                            </td>







                                                            <td class="whitespace-nowrap px-6 py-4">







                                                                <button class="text-sm text-white rounded w-full bg-red-500 p-2"
                                                                    @click="hapuslink(data.id)">Hapus</button>



                                                            </td>



                                                        </tr>
                                                    </template>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </AppLayout>
</template>
<script>
import axios from 'axios';
export default {
    data() {
        return {
            sosmed: "0",
            akun: "",
            links: "",
            loadingSave:false,
            generate: "http://localhost:8080/generate?id=" + this.subtask.id
        }
    },
    filters: {
        str_limit(value, size) {
            if (!value) return '';
            value = value.toString();

            if (value.length <= size) {
                return value;
            }
            return value.substr(0, size) + '...';
        }
    },
    methods: {
        submitPostingan(excel_id) {
            if (this.sosmed == '0') {
                alert("Pilih Sosmed Dulu")
            } else {
                this.loadingSave = true;
                var data = {
                    'excel_id': excel_id,
                    'sosmed': this.sosmed,
                    'akun': this.akun,
                    'links': this.links
                }
                console.log(data)
                axios.post(route('excellinks.store'), data).then(function (response) {
                    console.log(response.data)
                    location.reload()
                })
            }

        },
        hapuslink(linkId) {
            if (confirm("Delete Link?") == true) {
                var datas = {
                    id: linkId
                }
                axios.post(route('excellinks.destroy'), datas).then(function (response) {
                    console.log(response.data)
                    location.reload()
                })
            } else {
                console.log("cancel delete")
            }

        },
        downloadfile(){
            axios.get("https://cyber.ruangbawah.my.id:8081/generate?id=" + this.subtask.id).then(function (response){
                var link = response.data;
                window.open(route('excellinks.download',link))
            });
        }

    }
}
</script>