<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ subtask.name }} - Sub Task
            </h2>
        </template>
        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-2">

                        <div class="col-span-6 sm:col-span-4">
                            <InputLabel for="task_input" value="Link Input" />
                            <textarea v-model="form.alllinks"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                rows="10" placeholder="Your links"></textarea>
                            <button @click="proseslinks"
                                class="my-2 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Proses
                                Links</button>
                            <hr>
                            <h2>All Results: {{ form.results.all }}</h2>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Twitter: {{ form.results.twitter }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.twitter" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>

                                <ul>
                                    <li v-for="item in form.links.twitter" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Facebook: {{ form.results.facebook }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.facebook" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li v-for="item in form.links.facebook" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Instagram: {{ form.results.instagram }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.instagram" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li v-for="item in form.links.instagram" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Tiktok: {{ form.results.tiktok }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.tiktok" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li v-for="item in form.links.tiktok" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Snackvideo: {{ form.results.snackvideo }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.snackvideo" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li v-for="item in form.links.snackvideo" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                            <div class="block p-6 mt-3 rounded-lg shadow-lg bg-white w-full">
                                <div class="flex justify-between">
                                    <div>
                                        <h4 class="font-bold mb-4">Youtube: {{ form.results.youtube }}</h4>
                                    </div>
                                    <div>
                                        <div class="mb-3 xl:w-24">
                                            <input type="number"
                                                class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                                v-model="form.accounts.youtube" placeholder="Jumlah Akun" />
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li v-for="item in form.links.youtube" :key="item">{{ item }}</li>
                                </ul>
                            </div>
                        </div>
                            <template v-if="!form.loadingPost">
                                <button @click="saveLinks"
                                class="my-2 w-full inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-normal uppercase rounded-full shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Save</button>
                            </template>
                            <template v-else>Loadingg... mohon ditunggu ganteng</template>
                       

                            <h3 class="font-semibold">Yang Virall: </h3><br>
                            <div class="flex flex-wrap justify-center space-x-2">
                            
                            <template v-for="data in uservirall" :key="data.id">
                                <span class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm flex align-center w-max cursor-pointer active:bg-gray-300 transition duration-300 ease">
                                    {{data.name}}
                                </span>
                            </template>
                            </div>
                        <button @click="popUpDelete = true" class="bg-red-500 p-2 rounded text-white">Hapus Links</button>

                        <div class="p-2">
                            <!-- <DataTable class="display">
                                <thead>
                                    <tr>
                                        <th class="text-md font-medium text-gray-900 px-4 text-left">#</th>
                                        <th class="text-md font-medium text-gray-900 px-4 text-left">Links</th>
                                        <th class="text-md font-medium text-gray-900 px-4 text-left">Socio</th>
                                        <th class="text-md font-medium text-gray-900 px-4 text-left">Owner</th>
                                    </tr>
                                </thead>
                            </DataTable> -->
                            <hr>
                            <table :data="links" class="display w-full">
                                <thead class="border-b">
                                    <tr class="uppercase">
                                        <th class="text-md font-medium text-gray-900 px-4 text-left">#</th>
                                        <th class="text-md font-medium text-gray-900 text-left capitalize">links</th>
                                        <th class="text-md font-medium text-gray-900 text-left capitalize">social media</th>
                                        <th class="text-md font-medium text-gray-900 text-left capitalize">operator</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(data, index) in links" :key="index.id">
                                        <td class="text-sm font-medium text-gray-900 px-4 text-left">{{ index+1 }}</td>
                                        <td class="text-sm font-medium text-gray-900 whitespace-pre-wrap text-left"><a class="text-blue" :href="data.link" target="_blank" rel="noopener noreferrer">{{ data.link.slice(0, 76) }}</a></td>
                                        <td class="text-sm font-medium text-gray-900 text-left">{{ data.sosialmedia }}</td>
                                        <td class="text-sm font-medium text-gray-900 text-left">{{ data.operator }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <!-- Dialog Modal -->

                <DialogModal :show=popUpDelete>
                    <template #title>
                        Hapus Links Postingan | <button @click="popUpDelete = false" class="p-1 bg-green-600 text-sm text-white rounded-md">close</button>
                    </template>
                    <template #content>
                        <p>Warning! kegiatan ini akan menghapus semua link <b>kamu</b> pada subtask ini, <strong>silahkan masukkan jumlah akun sosmed kamu yang kamu masukkan tadi</strong></p>
                        <div class="mt-2">
                            <div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">Twitter</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.twitter" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div>
                            <div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">facebook</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.facebook" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div><div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">instagram</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.instagram" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div><div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">youtube</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.youtube" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div><div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">tiktok</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.tiktok" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div><div class="flex justify-between">
                                <div>
                                    <h4 class="font-bold mb-4">snackvideo</h4>
                                </div>
                                <div>
                                    <div class="mb-3 xl:w-24">
                                        <input type="number"
                                            class="form-control block w-full px-2 py-1 text-sm font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                            v-model="deleted.snackvideo" placeholder="Jumlah Akun"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <template #footer>
                        <button @click="hapusLinks(subtask.id)" class="bg-red-500 w-full p-2 rounded text-white">Hapus</button>
                    </template>
                </DialogModal>
    </AppLayout>
</template>

<script setup>
    import moment from "moment";
    import {
        ref
    } from 'vue';
    import {
        useForm
    } from '@inertiajs/inertia-vue3';
    import {
        reactive
    } from 'vue'
    import {
        Inertia
    } from "@inertiajs/inertia";
    import ActionMessage from '@/Components/ActionMessage.vue';
    import AppLayout from '@/Layouts/AppLayout.vue';
    import FormSection from '@/Components/FormSection.vue';
    import InputError from '@/Components/InputError.vue';
    import InputLabel from '@/Components/InputLabel.vue';
    import PrimaryButton from '@/Components/PrimaryButton.vue';
    import TextInput from '@/Components/TextInput.vue';
    import DialogModal from '@/Components/DialogModal.vue';

    // import DataTable from 'datatables.net-vue3';
    // import DataTableLib from 'datatables.net';   
    // DataTable.use(DataTableLib);
    const props = defineProps({
        taskdata: Object,
        subtask: Object,
        datauser: Object,
        links: Object,
        uservirall: Object,
    });

    const form = reactive({
        alllinks: null,
        loadingPost: false,
        results: {
            all: 0,
            twitter: 0,
            facebook: 0,
            instagram: 0,
            tiktok: 0,
            snackvideo: 0,
            youtube: 0,

        },
        accounts: {
            all: 0,
            twitter: 0,
            facebook: 0,
            instagram: 0,
            tiktok: 0,
            snackvideo: 0,
            youtube: 0,

        },
        links: {
            twitter: [],
            facebook: [],
            instagram: [],
            tiktok: [],
            snackvideo: [],
            youtube: [],

        }
    });
    // _token: this.$page.props.csrf_token,
    const addTask = () => {
        form.loadingPost = true;

        const userid = props.datauser.id;
        if (form.alllinks != '' || form.alllinks != null) {
            form.links.twitter.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'twitter',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            form.links.facebook.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'facebook',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            form.links.instagram.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'instagram',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            form.links.tiktok.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'tiktok',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            form.links.snackvideo.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'snackvideo',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            form.links.youtube.forEach((item, index) => {
                var datalink = null;
                datalink={
                    'link': item,
                    'sosialmedia': 'youtube',
                    'user_id': userid,
                    'subtask_id': props.subtask.id,
                    '_token': props.csrf_token
                } 
                axios.post(
                    route('links.store'),
                    datalink,
                )
                
            });
            console.log("sukses")

            var dataakun = {
                'id': props.subtask.id,
                'facebook': form.accounts.facebook,
                'instagram': form.accounts.instagram,
                'twitter': form.accounts.twitter,
                'tiktok': form.accounts.tiktok,
                'youtube': form.accounts.youtube,
                'snackvideo': form.accounts.snackvideo,
            }
            axios.post(
                route('subtask.updateakun'),
                dataakun
            ).then(()=>{
                location.reload()
            })
        } else {
            alert("Err")
        }
    };
    const saveLinks = async () =>{
        form.loadingPost = true;
        const userid = props.datauser.id;
        var dataLinks = [];
        form.links.twitter.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'twitter',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        form.links.instagram.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'instagram',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        form.links.facebook.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'facebook',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        form.links.tiktok.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'tiktok',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        form.links.snackvideo.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'snackvideo',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        form.links.youtube.forEach((item, index) => {
            var datalink = null;
            datalink={
                'link': item,
                'sosialmedia': 'youtube',
                'user_id': userid,
                'subtask_id': props.subtask.id
            } 
            dataLinks.push(datalink);
        });
        var dataakun = {
            'id': props.subtask.id,
            'facebook': form.accounts.facebook,
            'instagram': form.accounts.instagram,
            'twitter': form.accounts.twitter,
            'tiktok': form.accounts.tiktok,
            'youtube': form.accounts.youtube,
            'snackvideo': form.accounts.snackvideo,
        }
    
        dataLinks.forEach((item, index) => {
            axios.post(
                route('links.store'),
                item,
            ).catch(function(error){
                alert("Something wrong with your link, err code: " + error.response.status)
            })
            console.log("sukses : " + index)
        });
        
        await axios.post(
            route('subtask.updateakun'),
            dataakun
        ).then(()=>{
            location.reload()
        }).catch(error => {
            alert("Something wrong with your account, err code: " + error.response.status)
        })
  
    };
    const proseslinks = () => {
        const links = form.alllinks.split('\n')
        form.results.all = links.length
        links.forEach((item, index) => {
            if (item.includes("twitter.com" || item.includes("x.com"))) {
                form.links.twitter.push(item)
                form.results.twitter += 1
            }
            if (item.includes("instagram.com")) {
                form.links.instagram.push(item)
                form.results.instagram += 1
            }
            if (item.includes("facebook.com")) {
                form.links.facebook.push(item)
                form.results.facebook += 1
            }
            if (item.includes("tiktok.com")) {
                form.links.tiktok.push(item)
                form.results.tiktok += 1
            }
            if (item.includes("sck.io") || item.includes("snackvideo.com")) {
                form.links.snackvideo.push(item)
                form.results.snackvideo += 1
            }
            if (item.includes("youtube.com") || item.includes("youtu.be")) {
                form.links.youtube.push(item)
                form.results.youtube += 1
            }
        });
    }
    

</script>
<script>
export default {
    data(){
        return{
            popUpDelete: false,
            deleted: {
                twitter: 0,
                facebook: 0,
                instagram: 0,
                tiktok: 0,
                snackvideo: 0,
                youtube: 0,
            },
            hasilvirall: null,
        }
    },
    // components:{
    //     DataTable
    // },
    methods:{
        hapusLinks(subtask_id){
            var data = {
                'subtask_id': subtask_id,
                'twitter': this.deleted.twitter,
                'facebook': this.deleted.facebook,
                'instagram': this.deleted.instagram,
                'tiktok': this.deleted.tiktok,
                'snackvideo': this.deleted.snackvideo,
                'youtube': this.deleted.youtube,
            }
            console.log(data)
            Inertia.post(route('links.destroy', data))
            this.popUpDelete = false
            // location.reload()

        }
    }
}
</script>
