<template>
    <div>
        <bootstrap-4-datatable :columns="columns" :data="rows" :filter="filter" :per-page="perPage"></bootstrap-4-datatable>
        <bootstrap-4-datatable-pager v-model="page" type="abbreviated"></bootstrap-4-datatable-pager>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                columns: [{
                        label: '#',
                        field: 'id'
                    },
                    {
                        label: 'Links',
                        field: 'link'
                    },
                    {
                        label: 'Social Media',
                        field: 'sosialmedia'
                    },
                    {
                        label: 'Operator',
                        field: 'operator'
                    }
                ],
                rows: [],
                page: 1,
                filter:  '',
                perPage: 12,
            }
        },
        methods: {
            showBlogs: function () {
                
            }
        },
        created: function () {
            this.showBlogs()
        }
    }
</script>