<script setup>
import ApplicationLogo from '@/Components/ApplicationLogo.vue';
</script>

<template>
    <div>
        <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
            <div class="text-4xl text-blue-500 font-bold">
                #Cyber Tool
            </div>

            <div class="mt-8 text-2xl">
                Welcome to your Cyber Tool application!
            </div>

            <div class="mt-6 text-gray-500">
                <strong>Cyber Tool</strong> provides a beautiful, robust starting point for your. Cyber Tool is designed
                to help you that is simple, powerful, and enjoyable. We believe you should love expressing your creativity through posted, so we have spent time carefully crafting the Cyber Tool
                ecosystem to be a breath of fresh air. We hope you love it.
            </div>
        </div>

        <div class="bg-gray-200 bg-opacity-25 pt-6">
            <div class="text-center">
                <h1 class="text-2xl">Mencintai Apa Yang Sedang Dikerjakan</h1>
                <div class="p-6 text-xl">
                <p>Hal yang perlu diingat adalah sebagian besar orang tidak mencintai pekerjaannya. Jadi, Anda tidak perlu merasa untuk memaksakan diri dalam mengerjakan apa yang orang lain kerjakan. Apalagi jika hal itu sampai membuatmu Anda merasa iri dengan pekerjaan orang lain.</p>
            </div>
            </div>
        </div>
    </div>
</template>
